*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.quiz-box-1{
    border: 2px solid black;
    background-color: #b6ffff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box-2{
    border: 2px solid black;
    background-color: #b6ffff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box-3{
    border: 2px solid black;
    background-color: #b6ffff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box-4{
    border: 2px solid black;
    background-color: #b6ffff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box-5{
    border: 2px solid black;
    background-color: #b6ffff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    text-align: center;
}
.btn{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
}
.btn:hover{
    background-color:  #b6ffff;
    color: rgb(0, 0, 0);
}

/* body{
    margin: 0;
    padding: 0;
    background-image: url(images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quizBox{
    border: 1px solid black;
    border-radius: 3em;
}
*{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 30px;
    
    
} */